@import '~bootstrap/scss/bootstrap';

.homepage {
    text-align: center;
    // width: 400px;
    margin: 0 20%;
    border: 1px solid black;
}

.dishes {
    margin: 2rem;
    border: 10px solid black;
}

.text {
    text-align: center;
    font-weight: bold;
}

.restaurant-container {
    justify-content: center;
    margin: 1rem;
    align-items: center;
    border: 10px solid black;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    width: 400px;
}

.navbar {
    background-color: #A3B5AF;
}

.footer {
    background-color: #A3B5AF;
    height: 5%;
}

.dish, .godish-buttons {
    display: flex;
    justify-content: center;
}

/*---------------- Media Queries ----------------------------*/
// /*----TABLETS----*/
// @media only screen and (min-width: 43em) {
// }
  
// /*----DESKTOP (smaller)----*/
// @media only screen and (min-width: 62em) {
// }
  
// /*----DESKTOP (larger)----*/
// @media only screen and (min-width: 62em) {
// }