@import '~bootstrap/scss/bootstrap';

$blue: #005f86;
$yellow: #F2A900;
$red: #BF5700;
$green: #43695B;

html {
    font-family: 'Public Sans', sans-serif;
}

.homepage {
    text-align: center;
    margin: 0 20%;
    border: 1px solid gray;
    // height: 100vh;
}

.screenContainer {
    margin-top: 5%;
}

.dishes {
    margin: 2rem;
    border: 1px solid grey;
}

.text {
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5rem;
    color: #373737;
}

.dish {
    margin: 40px 0 10px;
}

.dishImage {
    border-radius: 5%;
}

#mapRow {
    margin: 10px 0 10px;
}

.dishFlex {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.restaurant-container {
    justify-content: center;
    margin: 1rem;
    align-items: center;
    border: 1px solid grey;
}

.buttonParent {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
}

.buttons {
    background-color: white;
    color: #43695B;
    border: 1px solid #43695B;
    border-radius: 45px;
    margin: 0 10px;
}

.buttons:hover {
    background-color: #43695B;
}

.dishButtons {
    background-color: #43695B;
    border: none;
    border-radius: 45px;
    margin: 20px 20px;
    padding: 10px 40px;   
}

.dishButtons:hover {
    background-color: #A3B5AF;
}

.godish-buttons {
    margin: 5px;
}

#allButton {
    padding: 6px 25px;
}

#startDishingButton {
    border: 1px solid $yellow;
    background-color: $yellow;
    color: white;
    margin: 50px 0;
    padding:  10px 100px;
    font-size: 1.5rem;
}

#startDishingButton:hover {
    background-color: white;
    color: $yellow;
}

#zipField {
    border: .2px transparent #e7e7e7;
    border-radius: 45px;
    opacity: .6;
    margin: 0 85px;
    background-color: #e7e7e7;
    color: #979797;
}

.sliderContainer {
    display: grid;
    width: 80%;
    margin-left: 3rem;
}

#slider {
    place-items: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    width: 400px;
}

.navbar {
    background-color: #A3B5AF;
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
}

.footer {
    background-color: #A3B5AF;
    height: 5%;
}

.dish, .godish-buttons {
    display: flex;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
}

.rest-info {
    margin-left: 24%;
}

#rating-info {
    margin-left: 22%;
    width: 400px;
}

/*---------------- Media Queries ----------------------------*/
/*----MOBILE----*/
@media only screen and (max-width: 42em) {
    .homepage, .dishes, .restaurant-container {
        // background-color: yellowgreen;
    }
}

/*----TABLETS----*/
@media only screen and (min-width: 43em) {
    .homepage, .dishes, .restaurant-container  {
        // background-color: burlywood;
    }
}
  
/*----DESKTOP----*/
@media only screen and (min-width: 62em) {
    .homepage, .dishes, .restaurant-container {
        // background-color: salmon;
    }
}