@import '~bootstrap/scss/bootstrap';

.homepage {
    text-align: center;
    width: 400px;
    margin: 0 20%;
}

.restaurant {
    margin: 1rem;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    width: 400px;
}

.navbar {
    background-color: #A3B5AF;
}

.footer {
    background-color: #A3B5AF;
    height: 5%;
}
